@model CoreSettings

<footer class="footer">
    <div class="container">
        <span class="text-muted pull-left">&copy; @DateTime.Now.Year @Model.Title</span>
        <span class="text-muted pull-right">Powered by <a href="https://github.com/FanrayMedia/Fanray"><strong>Fanray</strong></a> <text>v</text>@SysVersion.CurrentVersion</span>
    </div>
</footer>
