@model BlogPostViewModel
@{
    var post = Model.BlogPost;
    ViewData["Title"] = post.Title;
    ViewData["Description"] = post.Excerpt;
}

<article class="post single">
    <header class="post-header">
        <h2 class="post-title">
            @post.Title
        </h2>
        @await Html.PartialAsync("_PostInfo", Model)
    </header>
    <section class="post-body">
        @Html.Raw(post.Body)
    </section>
</article>

@await Html.PartialAsync("_Comments", Model)

@section Canonical {
    <meta property="og:url" content="@Model.CanonicalUrl" />
    <link rel="canonical" href="@Model.CanonicalUrl" />
}