@model BlogPost

@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Excerpt;
    var post = Model;
}

<article class="post single">
    <header class="post-header">
        <h2 class="post-title">
            @post.Title
        </h2>
        @await Html.PartialAsync("_PostInfo", Model)
    </header>
    <section class="post-body">
        @Html.Raw(post.Body)
    </section>
</article>