@{
    ViewData["Title"] = "Contact";
}


<article class="page">
    <header class="page-header">
        <h1>@ViewData["Title"]</h1>
    </header>
    <section class="page-body">
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>

    </section>
</article>