@model HeaderViewModel

<div class="d-flex flex-column flex-md-row align-items-center px-md-4 pt-2 pb-0 pt-sm-2 pb-sm-0 py-md-2 py-lg-2 py-xl-2 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal p-0 px-3 pl-md-0 pl-lg-0">
        <a class="brand" href="/">@Model.Title</a> <small class="text-muted d-none d-sm-block" style="font-size:small;font-style:italic">@Model.Tagline</small>
    </h5>
    <nav class="navbar my-md-0 mr-md-3 mb-sm-0 p-0">
        <a class="p-2 text-dark" href="/">Home</a>
        @if (Model.IsSignedIn)
        {
            <a class="p-2 text-dark" href="/admin">Admin</a>
            <div class="dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img gravatar-email="@Model.CurrentUser.Email" title="@Model.CurrentUser.DisplayName" class="avatar" />
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/admin/compose"><i class="icon-pencil-square-o" aria-hidden="true"></i> Write</a>
                    <div class="dropdown-divider"></div>
                    <form asp-area="" asp-controller="Home" asp-action="Logout" method="post" id="logoutForm">
                        <button type="submit" class="dropdown-item btn btn-link navbar-btn navbar-link"><i class="icon-power-off" aria-hidden="true"></i> Logout</button>
                    </form>
                </div>
            </div>
        }
        else
        {
            <a class="p-2 text-dark" href="/login">Login</a>
        }
    </nav>
</div>