@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <nav id="cookieConsent" class="navbar fixed-bottom navbar-dark bg-dark" role="alert">
        <p class="navbar-text navbar-nav">
            This website uses cookies to ensure you get the best experience on our website.
            <a aria-label="learn more about cookies" tabindex="0" href="http://cookiesandyou.com" target="_blank">Learn more</a>
        </p>
        <button type="button" class="btn btn-warning" data-cookie-string="@cookieString">Got it!</button>
    </nav>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("d-none");
            }, false);
        })();
    </script>
}