<div class="widgets">
    <div class="widget">
        <h4 class="widget-header">RSS</h4>
        <div class="widget-content">
            <div class="social-icons">
                <a href="/feed" style="font-size:28px">
                    <i class="icon-rss" aria-hidden="true" style="color:orange"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="widget">
        <h4 class="widget-header">Tags</h4>
        <div class="widget-content">
            @await Component.InvokeAsync("BlogTags")
        </div>
    </div>
    <div class="widget">
        <h4 class="widget-header">Categories</h4>
        <div class="widget-content">
            @await Component.InvokeAsync("BlogCategories")
        </div>
    </div>
    <div class="widget">
        <h4 class="widget-header">Archives</h4>
        <div class="widget-content">
            @await Component.InvokeAsync("BlogArchives")
        </div>
    </div>
</div>