<div class="widgets">
    @await Component.InvokeAsync("SocialIcons")
    @await Component.InvokeAsync("BlogTags")
    @await Component.InvokeAsync("BlogCategories")
    @await Component.InvokeAsync("BlogArchives")
</div>