@model string

@{
    ViewData["Title"] = "Error";
    string errMsg = Model;
}

<article class="page">
    <header class="page-header">
        <h1 class="page-title">
            <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i> Oops!
        </h1>
    </header>
    <section class="page-body">
        @if (errMsg.IsNullOrEmpty())
        {
            <h3 class="text-danger">
                So sorry, an error occurred while processing your request.<br /><br />
                Please help create an issue on <a href="https://github.com/FanrayMedia/Fanray/issues">Fanray GitHub Issues page</a>. Thank you!
            </h3>
        }
        else
        {
            <h3 class="text-danger">@errMsg</h3>
        }
    </section>
</article>
