<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fanray Admin Console</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/material-components-web/material-components-web.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/material-components-web/material-components-web.min.css">
    </environment>
    <link rel="stylesheet" href="~/css/admin.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body class="mdc-typography admin-body">
    @* Top Toolbar *@
    <header class="mdc-toolbar mdc-toolbar--fixed">
        <div class="mdc-toolbar__row">
            <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                <span class="mdc-toolbar__title catalog-title">Fanray Admin Console</span>
            </section>
            <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
                <div class="mdc-menu-anchor">
                    <a id="menu-button">
                        <img class="mdc-list-item__graphic"
                             src="https://material-components-web.appspot.com/images/animal1.svg"
                             width="56" height="56" alt="Panda">
                    </a>
                    <div class="mdc-menu" style="position: absolute;" tabindex="-1" id="avatar-menu">
                        <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                            <li class="mdc-list-item" role="menuitem" tabindex="0">Profile</li>
                            <li class="mdc-list-divider" role="separator"></li>
                            <li class="mdc-list-item" role="menuitem" tabindex="0">Logout</li>
                        </ul>
                    </div>
                    <a href="/">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">exit_to_app</i>
                    </a>
                </div>                
            </section>
        </div>
    </header>

    <div class="admin-content mdc-toolbar-fixed-adjust">
        @* Side Nav mdc-list-item--selected*@
        <nav id="admin-drawer" class="mdc-drawer mdc-drawer--permanent">
            <div class="mdc-list-group">
                <nav class="mdc-list">
                    <a asp-page="./Index" class="mdc-list-item mdc-list-item--selected">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">list</i>Posts
                    </a>
                    <a class="mdc-list-item" href="#">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">insert_photo</i>Media
                    </a>
                    <a class="mdc-list-item" href="#">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">label</i>Tags
                    </a>
                    <a class="mdc-list-item" href="#">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">widgets</i>Widgets
                    </a>
                </nav>

                <hr class="mdc-list-divider">

                <nav class="mdc-list">
                    <a class="mdc-list-item" href="#">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">library_books</i>Blogs
                    </a>
                    <a asp-page="./Users" class="mdc-list-item">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">supervisor_account</i>Users
                    </a>
                    <a class="mdc-list-item" href="#">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings</i>Settings
                    </a>
                </nav>
            </div>
        </nav>
        @* Main Content *@
        <main class="admin-main">
            @RenderBody()
        </main>
    </div>

    <environment include="Development">
        <script src="~/lib/material-components-web/material-components-web.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/material-components-web/material-components-web.min.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
    @* Avatar Dropdown Menu *@
    <script>
        var menuEl = document.querySelector('#avatar-menu');
        var menu = new mdc.menu.MDCMenu(menuEl);
        var menuButtonEl = document.querySelector('#menu-button');
        menuButtonEl.addEventListener('click', function () {
            menu.open = !menu.open;
        });
    </script>
</body>
</html>
