@page
@model Fan.Web.Pages.Admin.WidgetsModel
@{
    ViewData["Title"] = "Widgets";
}

<site-widgets inline-template>
    <v-container fluid>
        <v-layout align-start>
            <v-flex xs8 sm6 md3 elevation-1 ma-2>
                <v-list dense>
                    <v-subheader>
                        Available Widgets
                    </v-subheader>
                    <draggable id="widget-infos" 
                               v-model="widgetInfos" 
                               :options="{group: {name:'widgets', pull:'clone', put: false}, sort: false}"
                               style="cursor:pointer">
                        <template v-for="info in widgetInfos">
                            <v-list-tile :key="info.id" avatar style="border:1px solid #eee;margin:5px">
                                <v-list-tile-content>
                                    <div>
                                        <span style="font-weight:bold;color:#333">{{info.name}}</span>
                                        <span style="color:#999">- {{info.description}}</span>
                                    </div>
                                </v-list-tile-content>
                            </v-list-tile>
                        </template>
                    </draggable>
                </v-list>
            </v-flex>
            <v-flex xs8 sm6 md3>
                <v-list dense class="elevation-1 ma-2" v-for="area in widgetAreas" :key="area.id">
                    <v-subheader>
                        {{ area.title }}
                    </v-subheader>
                    <draggable :id="area.id" 
                               v-model="area.widgets" 
                               :options="{group:'widgets'}"
                               @@add="add"
                               @@sort="sort"
                               style="min-height: 10px;cursor:move">
                        <template v-for="widget in area.widgetInstances">
                            <v-list-tile :key="widget.id" avatar style="border:1px solid #eee;margin:5px">
                                <v-list-tile-content>
                                    <div>
                                        <span style="font-weight:bold;color:#333">{{widget.name}}</span>
                                        <span style="color:#999">: {{widget.title}}</span>
                                    </div>
                                </v-list-tile-content>
                                <v-list-tile-action>
                                    <v-list-tile-action-text>
                                        <v-btn flat icon style="margin-right: 4px" @@click="editWidget(widget)">
                                            <v-icon>edit</v-icon>
                                        </v-btn>
                                        <v-btn flat icon @@click="deleteWidget(widget, area.id)">
                                            <v-icon>delete</v-icon>
                                        </v-btn>
                                    </v-list-tile-action-text>
                                </v-list-tile-action>
                            </v-list-tile>
                        </template>
                    </draggable>
                </v-list>
            </v-flex>
        </v-layout>
        <v-dialog lazy
                  v-model="dialogVisible"
                  @@keydown.esc="closeDialog"
                  content-class="widget-edit-dialog">
            <v-card>
                <v-card-title>
                    <span style="font-size:larger;font-weight:bold">{{ dialogTitle }}</span>
                    <v-spacer></v-spacer>
                    <v-btn @@click="closeDialog">Close</v-btn>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text class="preview-body">
                    <iframe class="widget-edit-frame"
                            v-if="widgetEditUrl"
                            :src="widgetEditUrl"
                            :title="dialogTitle"></iframe>
                </v-card-text>
            </v-card>
        </v-dialog>
    </v-container>    
</site-widgets>

@section ComponentScripts {
    <script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.3/Sortable.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.17.0/vuedraggable.min.js"></script>
    <script>
        let widgetsMixin = {
            data: function () {
                return {
                    widgetInfos: @Html.Raw(Model.WidgetInfosJson),
                    widgetAreas: @Html.Raw(Model.WidgetAreasJson),
                }
            },
        }

        Vue.component('site-widgets', {
            mixins: [widgetsMixin],
            data: () => ({
                dialogVisible: false,
                dialogTitle: '',
                widgetEditUrl: null,
            }),
            methods: {                
                add: function (evt) {
                    console.log("adding... ");
                    let fromInfos = evt.from.id === 'widget-infos';
                    let dto = {
                        areaToId: evt.to.id,
                        index: evt.newIndex,
                        widgetType: null,
                        widgetId: 0,
                        areaFromId: null,
                        name: null,
                        title: null,
                    };

                    if (fromInfos) {
                        dto.widgetType = this.widgetInfos[evt.oldIndex].type;
                    }
                    else {
                        let areaIdx = this.widgetAreas.findIndex(c => c.id === evt.from.id);
                        let widgetIns = this.widgetAreas[areaIdx].widgetInstances[evt.oldIndex];
                        dto.widgetType = widgetIns.type;
                        dto.widgetId = widgetIns.id;
                        dto.areaFromId = evt.from.id;
                        dto.name = widgetIns.name;
                        dto.title = widgetIns.title;
                    }

                    axios.post('/admin/widgets?handler=add', dto, this.$root.headers)
                        .then(resp => {
                            let areaToIdx = this.widgetAreas.findIndex(c => c.id === evt.to.id);
                            if (fromInfos) {
                                this.widgetAreas[areaToIdx].widgetInstances.splice(evt.newIndex, 0, resp.data);
                            }
                            else {
                                // remove from widget from old area
                                let areaFromIdx = this.widgetAreas.findIndex(c => c.id === evt.from.id);
                                this.widgetAreas[areaFromIdx].widgetInstances.splice(evt.oldIndex, 1);
                                // add to new area
                                this.widgetAreas[areaToIdx].widgetInstances.splice(evt.newIndex, 0, resp.data);
                            }
                        })
                        .catch(err => {
                            console.log(err);
                            this.$root.toastError('Add widget failed.');
                        });
                },
                sort: function (evt) {
                    if (evt.from.id !== evt.to.id) return;
                    console.log("ordering... ");

                    let areaIdx = this.widgetAreas.findIndex(c => c.id === evt.from.id);
                    let widgetInst = this.widgetAreas[areaIdx].widgetInstances[evt.oldIndex];
                    let dto = {
                        index: evt.newIndex,
                        widgetId: widgetInst.id,
                        areaId: evt.from.id,
                    };

                    axios.post('/admin/widgets?handler=reorder', dto, this.$root.headers)
                        .then(() => {
                            // remove from old index and add to new index
                            this.widgetAreas[areaIdx].widgetInstances.splice(evt.oldIndex, 1);
                            this.widgetAreas[areaIdx].widgetInstances.splice(evt.newIndex, 0, widgetInst);
                        })
                        .catch(err => {
                            console.log(err);
                            this.$root.toastError('Order widget failed.');
                        });
                },
                editWidget: function (widget) {
                    console.log("editing widget: ", widget);
                    this.dialogTitle = widget.title + ' (' + widget.name + ')';
                    this.dialogVisible = true;

                    axios.get(`/admin/widgets?handler=edit&widgetId=${widget.id}`)
                        .then(resp => {
                            this.widgetEditUrl = resp.data;
                            console.log(this.widgetEditUrl);
                        })
                        .catch(err => {
                            console.log(err);
                            this.$root.toastError('Edit widget failed.');
                        });
                },
                deleteWidget: function (widget, areaId) {
                    console.log("deleting widget: ", widget);
                    if (confirm(`Are you sure to delete the widget?`)) {
                        axios.delete(`/admin/widgets?widgetId=${widget.id}&areaId=${areaId}`, this.$root.headers)
                            .then(resp => {
                                let areaIdx = this.widgetAreas.findIndex(c => c.id === areaId);
                                let widx = this.widgetAreas[areaIdx].widgetInstances.indexOf(widget);
                                this.widgetAreas[areaIdx].widgetInstances.splice(widx, 1);
                            })
                            .catch(err => {
                                console.log(err);
                                this.$root.toastError('Delete widget failed.');
                            });
                    }
                },
                closeDialog() {
                    this.dialogVisible = false;
                },
            }
        });
    </script>
}
