@{
    ViewData["Title"] = "About";
}

<article class="page">
    <header class="page-header">
        <h1 class="page-title">
            @ViewData["Title"]
        </h1>
    </header>
    <section class="page-body">
        <p>Use this area to provide additional information.</p>
    </section>
</article>