@{
    ViewData["Title"] = "About";
}

<article class="page">
    <header class="page-header">
        <h1 class="page-title">
            @ViewData["Title"]
        </h1>
    </header>
    <section class="page-body">
        <p><a href="https://github.com/FanrayMedia/Fanray">Fanray</a> is a blog application built with <a href="https://github.com/aspnet/Home">ASP.NET Core</a> and supports <a href="http://openlivewriter.org/">Open Live Writer</a>.</p>
    </section>
</article>