@page
@model WidgetsModel
@{
    ViewData["Title"] = "Widgets";
}

<widgets inline-template ref="exts">
    <v-container fluid>
        <v-layout align-start>
            <v-flex xs6 md4 elevation-1 ma-2>
                <v-list dense>
                    <v-subheader>
                        Available Widgets
                    </v-subheader>
                    <draggable id="widget-infos"
                               v-model="widgetInfos"
                               :options="{group: {name:'widgets', pull:'clone', put: false}, sort: false}"
                               style="cursor:pointer">
                        <template v-for="info in widgetInfos">
                            <v-list-tile :key="info.id" avatar style="border:1px solid #eee;margin:5px">
                                <v-list-tile-content>
                                    <div>
                                        <span style="font-weight:bold;color:#333">{{info.name}}</span>
                                        <span style="color:#999">- {{info.description}}</span>
                                    </div>
                                </v-list-tile-content>
                            </v-list-tile>
                        </template>
                    </draggable>
                </v-list>
            </v-flex>
            <v-flex xs6 md4>
                <v-list dense class="elevation-1 ma-2" v-for="area in widgetAreas" :key="area.id">
                    <v-subheader>
                        {{ area.title }}
                    </v-subheader>
                    <draggable :id="area.id"
                               v-model="area.widgets"
                               :options="{group:'widgets', ghostClass:'sortable-ghost'}"
                               @@add="add"
                               @@sort="sort"
                               style="min-height: 10px;cursor:move">
                        <template v-for="widget in area.widgetInstances">
                            <v-list-tile :key="widget.id" avatar style="border:1px solid #eee;margin:5px">
                                <v-list-tile-content>
                                    <div>
                                        <span style="font-weight:bold;color:#333">{{widget.name}}</span>
                                        <span style="color:#999">: {{widget.title}}</span>
                                    </div>
                                </v-list-tile-content>
                                <v-list-tile-action>
                                    <v-list-tile-action-text>
                                        <v-btn flat icon class="mr-1" @@click="viewSettings(widget)">
                                            <v-icon>edit</v-icon>
                                        </v-btn>
                                        <v-btn flat icon @@click="deleteWidget(widget, area.id)">
                                            <v-icon>delete</v-icon>
                                        </v-btn>
                                    </v-list-tile-action-text>
                                </v-list-tile-action>
                            </v-list-tile>
                        </template>
                    </draggable>
                </v-list>
            </v-flex>
        </v-layout>
        <v-dialog lazy
                  v-model="dialogVisible"
                  @@keydown.esc="closeDialog"
                  content-class="ext-settings-dialog">
            <v-card>
                <v-card-title class="pl-4 pt-2 pb-0">
                    <span style="font-size:larger;font-weight:bold">{{ dialogTitle }}</span>
                    <v-spacer></v-spacer>
                    <v-btn flat small fab @@click="closeDialog">
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                    <iframe ref="settingsIframe"
                            @@load="$root.initIframeHeight($refs.settingsIframe)"
                            frameborder="0"
                            scrolling="no"
                            class="ext-settings-frame"
                            v-if="settingsUrl"
                            :src="settingsUrl"
                            :title="dialogTitle"></iframe>
                </v-card-text>
            </v-card>
        </v-dialog>
    </v-container>
</widgets>

@section ComponentScripts {
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.9.0/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuedraggable@2.20.0/dist/vuedraggable.umd.min.js"></script>
    <script>
        let widgetsMixin = {
            data: function () {
                return {
                    widgetInfos: @Html.Raw(Model.WidgetManifestsJson),
                    widgetAreas: @Html.Raw(Model.WidgetAreasJson),
                }
            },
        }
    </script>
    <script src="~/admin/js/widgets.js" asp-append-version="true"></script>
}
