@model Dictionary<int, List<MonthItem>>

<div class="widget">
    <h4 class="widget-header">Archives</h4>
    <div class="widget-content">
        <ul class="month-list">
            @foreach (var year in Model)
            {
                <li class="year">
                    @year.Key
                    <ul class="months">
                        @foreach (var item in year.Value)
                        {
                            <li>
                                <a href="@item.Url">@item.Title</a> (@item.Count)
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>