@model BlogPostListVM

@{
    Layout = "_BlogPostLayout";
    var posts = Model.BlogPostViewModels;
    var title = Model.ArchiveTitle;
}

<div class="posts">
    <h1 class="category-title">
        Posts for @title
    </h1>

    @foreach (var post in posts)
    {
        <article class="post">
            <header class="post-header">
                <h1 class="post-title">
                    <a href="@post.RelativeLink">@post.Title</a>
                </h1>
                @await Html.PartialAsync("_PostInfo", post)
            </header>
            <div class="post-body">
                @Html.Raw(post.Excerpt) 
                <div class="read-more">
                    <a href="@post.RelativeLink">Read More</a>
                </div>
            </div>
        </article>
    }
</div>