// styles for Compose.cshtml

[v-cloak] {
    display: none
}

.drawer {
    padding: 0 8px;
    background-color: blue
}

/* drawer expansion panel headers */
.v-expansion-panel__header {
    padding: 4px 12px;
}

// The media gallery dialog shown when user clicks on composer editor toolbar's image icon
.media-dialog {
    max-width: 71%;
    background-color: white;
}