// make the toolbar sticky
.media-toolbar {
    position: sticky;
    z-index: 2;
    top: 48px
}
// put a checkmark on selected image
.img-selected {
    align-items: center;
    bottom: 0;
    justify-content: center;
    opacity: .5;
    position: absolute;
    width: 100%;
}
// show caption when hover over image
.img-caption--reveal {
    align-items: center;
    bottom: 0;
    justify-content: center;
    opacity: .5;
    position: absolute;
    width: 100%;
}
// make cursor a pointer when hover over image
.img-square:hover {
    cursor: pointer;
}
// image edit dialog
.dialog {
    max-width: 71%;
    background-color: white;
}

.dialog img {
    max-width: 100%;
    height: auto;
}

.dialog .img-preview {
    background-color: #f3f6f8;
}

.dialog .img-sidebar {
    padding: 20px 15px 0 15px;
}

.dialog .img-sidebar ul {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}

.dialog .img-sidebar ul li {
    padding-bottom: 10px;
}

.dialog .img-sidebar ul li label {
    font-weight: bold;
    color: gray;
    font: larger;
    text-transform: uppercase;
    padding-right: 10px;
}

.dialog .img-btnbar {
    border-top: 1px solid #eee;
    text-align: right;
}
// drop zone and text to show when drag files over browser
#dropzone {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: visibility 175ms, opacity 175ms;
    display: table;
    text-shadow: 1px 1px 2px #000;
    color: #fff;
    background: rgba(0, 0, 0, 0.45);
    font: bold 42px Oswald, DejaVu Sans, Tahoma, sans-serif;
}

#droptext {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    transition: font-size 175ms;
}
