@page
@model CategoriesModel
@{
    ViewData["Title"] = "Categories";
}

<blog-categories inline-template>
    <v-container>
        <v-tabs class="elevation-1 cat-tabs-bar">
            <v-tab>
                Categories <v-chip small>{{ categories.length }}</v-chip>
            </v-tab>
        </v-tabs>
        <v-list class="elevation-1">
            <template v-for="(cat, index) in categories">
                <v-list-tile avatar @@click="">
                    <v-list-tile-avatar>
                        <v-icon>folder</v-icon>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title v-text="cat.title"></v-list-tile-title>
                    </v-list-tile-content>
                    <v-list-tile-action>
                        <v-chip color="secondary"
                                text-color="white"
                                small
                                v-if="cat.id === defaultCategoryId">DEFAULT</v-chip>
                    </v-list-tile-action>
                    <v-list-tile-action>
                        <v-chip small>{{ cat.count }}</v-chip>
                    </v-list-tile-action>
                    <v-list-tile-action>
                        <v-menu bottom left>
                            <v-btn slot="activator"
                                   icon>
                                <v-icon>more_vert</v-icon>
                            </v-btn>

                            <v-list dense>
                                <v-list-tile @@click="editCat(cat)">
                                    <v-icon class="cat-action-icon">edit</v-icon>
                                    <v-list-tile-title>Edit</v-list-tile-title>
                                </v-list-tile>
                                <v-list-tile v-if="cat.id !== defaultCategoryId"
                                             @@click="deleteCat(cat)">
                                    <v-icon class="cat-action-icon">delete</v-icon>
                                    <v-list-tile-title>Delete</v-list-tile-title>
                                </v-list-tile>
                                <v-list-tile v-if="cat.count !== 0"
                                             @@click="viewPosts(cat.relativeLink)">
                                    <v-icon class="cat-action-icon">visibility</v-icon>
                                    <v-list-tile-title>View Posts</v-list-tile-title>
                                </v-list-tile>
                                <v-divider v-if="cat.id !== defaultCategoryId"></v-divider>
                                <v-list-tile v-if="cat.id !== defaultCategoryId"
                                             @@click="setDefault(cat.id)">
                                    <v-icon class="cat-action-icon">check_circle</v-icon>
                                    <v-list-tile-title>Set as default</v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-menu>
                    </v-list-tile-action>
                </v-list-tile>
                <v-divider v-if="index + 1 < categories.length"
                           :key="index"></v-divider>
            </template>
        </v-list>
        <v-dialog lazy
                  v-model="dialogVisible"
                  @@keydown.esc="closeDialog"
                  content-class="cat-dialog">
            <v-card>
                <v-card-title>
                    <span style="font-size:larger;font-weight:bold">{{ upsertText }} Category</span>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                    <v-alert :value="errMsg.length" type="error">{{ errMsg }}</v-alert>
                    <v-text-field solo
                                  v-model="title"
                                  label="Category"
                                  placeholder="Title">
                    </v-text-field>
                    <v-textarea solo
                                v-model="description"
                                label="Description">
                    </v-textarea>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @@click="closeDialog">Cancel</v-btn>
                    <v-btn color="primary"
                           v-show="!addButtonVisible"
                           :disabled="disableUpsertButton"
                           @@click="updateCat">Update</v-btn>
                    <v-btn color="primary"
                           v-show="addButtonVisible"
                           :disabled="disableUpsertButton"
                           @@click="insertCat">Add</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-btn fab
               bottom
               right
               color="pink"
               dark
               fixed
               @@click="addCat">
            <v-icon>add</v-icon>
        </v-btn>
    </v-container>
</blog-categories>

@section ComponentScripts {
    <script>
        let categoriesMixin = {
            data: function () {
                return {
                    categories: @Html.Raw(Model.CategoryListJsonStr),
                    defaultCategoryId: @Model.DefaultCategoryId,
                };
            }
        };
    </script>
    <script src="~/admin/js/blog-categories.js" asp-append-version="true"></script>
}