@page
@model Fan.Web.Pages.Admin.MediaModel
@{
    ViewData["Title"] = "Media";
}
@section Styles {
    <style>
        /*https://jsfiddle.net/webtiki/MpXYr/2/*/
        .square {
            float: left;
            position: relative;
            width: 10%;
            padding-bottom: 10%; /* = width for a 1:1 aspect ratio */
            margin: 0.5%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain; /* "cover" crops squares; "contain" no cropping */
        }

            .square:hover {
                cursor: pointer;
            }

        /*dialog*/
        .dialog {
            max-width: 71%;
            background-color: white;
        }

            .dialog img {
                max-width: 100%;
                height: auto;
            }

            .dialog .img-preview {
                background-color: #f3f6f8;
            }

            .dialog .img-sidebar {
                padding: 20px 15px 0 15px;
            }

                .dialog .img-sidebar ul {
                    padding-left: 0;
                    margin-left: 0;
                    list-style: none;
                }

                    .dialog .img-sidebar ul li {
                        padding-bottom: 10px;
                    }

                        .dialog .img-sidebar ul li label {
                            font-weight: bold;
                            color: gray;
                            font: larger;
                            text-transform: uppercase;
                            padding-right: 10px;
                        }

            .dialog .img-btnbar {
                border-top: 1px solid #eee;
                text-align: right;
            }

        #dropzone {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999999999;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            transition: visibility 175ms, opacity 175ms;
            display: table;
            text-shadow: 1px 1px 2px #000;
            color: #fff;
            background: rgba(0, 0, 0, 0.45);
            font: bold 42px Oswald, DejaVu Sans, Tahoma, sans-serif;
        }

        #droptext {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            transition: font-size 175ms;
        }
    </style>
}

<blog-media inline-template>
    <div>
        <div style="visibility:hidden; opacity:0" id="dropzone">
            <span id="droptext">Drop files to upload</span>
        </div>

        <v-toolbar class="elevation-0">
            <v-btn flat @@click="chooseFilesUpload">
                <v-icon color="primary">cloud_upload</v-icon>
                &nbsp;Upload
            </v-btn>
        </v-toolbar>
        <v-divider></v-divider>
        <v-alert :value="errMsg.length" type="error" dismissible>{{ errMsg }}</v-alert>

        <div class="gallery">
            <div v-for="image in images"
                 :key="image.id"
                 @@click="selectImage(image)"
                 class="square"
                 :title="image.title"
                 :style="{ backgroundImage: 'url(' + image.urlSmall + ')' }"></div>
        </div>

        <v-dialog v-if="selectedImage"
                  v-model="dialogVisible"
                  @@keydown.esc="dialogVisible = false"
                  content-class="dialog">

            <v-container fill-height style="padding:0; margin:0">
                <v-layout row wrap>
                    <v-flex xs12 md8 class="img-preview">
                        <v-container fill-height>
                            <v-layout justify-center align-center>
                                <img :src="selectedImage.urlLarge" alt="Alternate Text" />
                            </v-layout>
                        </v-container>
                    </v-flex>
                    <v-flex xs12 md4 class="img-sidebar">
                        <v-text-field label="Title" v-model="selectedImage.title"></v-text-field>
                        <v-textarea label="Caption" v-model="selectedImage.caption"></v-textarea>
                        <v-text-field label="Alt text" v-model="selectedImage.alt"></v-text-field>
                        @*<v-textarea label="Description" v-model="selectedImage.description"></v-textarea>*@
                        <v-text-field label="URL" readonly v-model="selectedImage.urlOriginal"></v-text-field>
                        <ul>
                            <li>
                                <label>File Name</label><span>{{ selectedImage.fileName }}</span>
                            </li>
                            <li>
                                <label>File Type</label><span>{{ selectedImage.fileType }}</span>
                            </li>
                            <li>
                                <label>Dimensions</label><span><abbr title="Width in pixels">{{ selectedImage.width }}</abbr> ✕ <abbr title="Height in pixels">{{ selectedImage.height }}</abbr></span>
                            </li>
                            <li>
                                <label>Upload Date</label><span>{{ selectedImage.uploadDate }}</span>
                            </li>
                            <li>
                                <label>Upload Via</label><span>{{ selectedImage.uploadVia }}</span>
                            </li>
                        </ul>
                    </v-flex>
                </v-layout>
            </v-container>
            <div class="img-btnbar">
                <v-btn color="error" @@click="deleteImage">Delete</v-btn>
                <v-btn color="primary" @@click.stop="dialogVisible=false">Close</v-btn>
                <v-btn color="primary" @@click="updateImage">Update</v-btn>
            </div>

        </v-dialog>

        <v-dialog v-model="progressDialog"
                  persistent
                  width="300">
            <v-card color="primary" dark>
                <v-card-text>
                    Uploading ...
                    <v-progress-linear indeterminate
                                       color="white"
                                       class="mb-0"></v-progress-linear>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</blog-media>

@section ComponentScripts {
    <script>
        let blogMediaMixin = {
            data: function () {
                return {
                    images: @Html.Raw(Model.Data.ImagesJson),
                    count: @Model.ImageCount,
                };
            }
        };
    </script>
    <script src="~/admin/js/blog-media.js" asp-append-version="true"></script>
}