@page
@model SettingsModel
@{
    ViewData["Title"] = "Settings";
}

<blog-settings inline-template>
    <div>Coming soon!</div>
</blog-settings>

@section ComponentScripts {
    <script>
        Vue.component('blog-settings', {
            data: () => ({
            }),
        });
    </script>
}
