[v-cloak] {
    display: none
}

h1{
        margin: 0 0 1rem;
        font-family: segoe-ui_normal, Segoe UI, Segoe, Segoe WP, Helvetica Neue, Helvetica, sans-serif;
        font-size: 1.75rem;
        margin-top: 32px;
    }

    .post .post-body h2 {
        font-size: 1.75rem;
        margin-top: 30px;
    }

    .post .post-body h3 {
        font-size: 1.188rem;
        margin-top: 30px;
    }

    .post .post-body h4 {
        font-size: 1rem;
        margin-top: 30px;
        margin-bottom: 12px;
    }

    .post .post-body h5 {
        font-size: 1rem;
        font-style: italic;
        margin-top: 30px;
        margin-bottom: 12px;
    }

    .post .post-body h6 {
        font-size: 1rem;
        font-style: italic;
        margin-top: 30px;
        margin-bottom: 12px;
    }

.ql-video {
    border: 1px solid red;
    width: 560px;
    height: 315px;
    /*
        https://stackoverflow.com/a/8366972/32240
        to make video centered
    */
    margin: 0 auto;
    display: block;
}