@model BlogPostListViewModel

@{
    var posts = Model.BlogPostViewModels;
    var categoryTitle = Model.CategoryTitle;
    ViewData["Title"] = $"Latest '{categoryTitle}' Posts";
}

<h1 class="category-title">
    Categeory: @categoryTitle
</h1>

@foreach (var post in posts)
{
    <article>
        <header>
            <h1>
                <a href="@post.RelativeLink">@post.Title</a>
            </h1>
            @await Html.PartialAsync("_PostInfo", post)
        </header>
        <div class="post-body">
            @Html.Raw(post.Excerpt) <span style="padding-left:5px"><a href="@post.RelativeLink">Read More</a></span>
        </div>
    </article>
}
