@model ForkMeRibbon.ForkMeRibbonPlugin
@{ 
    var position = Model.GetPositionString();
}
<a class="github-fork-ribbon @position fixed" href="https://github.com/FanrayMedia/Fanray"
   data-ribbon="@Model.Text" title="@Model.Text">@Model.Text</a>
