@model Fan.Web.Pages.Widgets.SocialIcons.SocialIconsWidget
@{
    // https://github.com/simple-icons/simple-icons
    var title = Model.Title;
    var links = Model.Links;
}

<div class="widget">
    @if (!title.IsNullOrEmpty())
    {
        <h4 class="widget-header">@title</h4>
    }
    <div class="widget-content">
        <div class="social-icons">
            @foreach (var link in links)
            {
                <a href="@link.Url">
                    @if (link.Icon.Equals("link", StringComparison.OrdinalIgnoreCase))
                    {
                        <img class="svg-icon" src="~/img/icons/link.svg" />
                    }
                    else
                    {
                        <img class="svg-icon" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/@(link.Icon).svg " />
                    }
                </a>
            }
        </div>
    </div>
</div>

