.page {
    padding: 2rem 3rem 1rem 3rem;
    width: 100%;

    .page-header {
        margin-bottom: 2rem;

        .page-title {
            line-height: 1;
            font-size: 2.25rem;
            margin: 0 0 0.5rem;
            font-weight: $font-weight-bold;

            a {
                text-decoration: none;
                color: $color-primary;

                &:hover {
                    color: #111
                }
            }
        }
    }
}
