// font
$font-family-base: "Open Sans", sans-serif;
$font-family-heading: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica,sans-serif;
$font-weight-bold: 800;
$font-weight-normal: 400;
$font-size-base: 1rem;

// color
$color-primary: #0064c4;
$color-danger: #e81c4f;
