.widgets {
    padding-top: 5rem;
}

.widget {
    font-size: .875rem;
    padding-bottom: 2rem;

    a {
        border-bottom: 1px dotted rgba(255, 255, 255, 0.6);

        &:hover {
            border-color: #fff;
        }
    }

    .widget-header {
        margin: 0;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: .0625rem;
        font-size: 1rem;
        padding: 0 1.5rem;
    }

    .widget-content {
        background: rgba(255, 255, 255, 0.1);
        padding: 1rem 1.5rem;
        font-size: .875rem;
        color: rgba(255, 255, 255, 0.6)
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        > li {
            margin-bottom: .5rem;

            a {
                border-bottom: none;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        ul li {
            border: none;
        }
    }

    @media screen and (max-width: 64rem) {
        margin-bottom: 1rem;
    }
}

.widget-categories {
    
}

.widget-tags {
    .tag {
        padding: 4px 12px;
        text-decoration: none;
        line-height: 2;
        white-space: nowrap;
        color: white;
    }

    .tag-multiplier {
        color: #666;
        margin-right: 4px;
        font-size: 12px;
    }
}

.month-list {
    li {
        font-weight: normal;
    }

    .year {
        cursor: pointer;
        color: #555;
        font-weight: bold;

        li {
            margin: 0 1rem;
            padding: 0;
            font-weight: bold;
        }
    }

    // hide months under year that is not on the very top
    .year:not(:first-child) .months {
        display: none
    }

    ul ul {
        display: none;
    }

    .open {
        display: block;
    }
}

