@{
    Layout = "_Layout";
    ViewData["Title"] = "404";
}

<div class="row col-md-8 offset-md-2">
    <article style="margin-top:40px">
        <header class="page-header">
            <h1 class="page-title">
                <i class="fa fa-frown-o text-danger" aria-hidden="true"></i> 404! Page not found
            </h1>
        </header>
        <section class="page-body">
            <h3>
                Sorry the page you requested is not found.
            </h3>
        </section>
    </article>
</div>
