@{
    Layout = "_Layout";
}

@section Canonical {
    @RenderSection("Canonical", required: false)
}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-9 blog-main">
            @RenderBody()
        </div>
        <aside class="col-md-3">
            <widget-area id="blog-sidebar1" />
        </aside>
    </div>
</main>
