@model HeaderViewModel

<div class="d-flex flex-column flex-md-row align-items-center px-md-4 pt-2 pb-0 pt-sm-2 pb-sm-0 py-md-2 py-lg-2 py-xl-2 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal p-0 px-3 pl-md-0 pl-lg-0">
        <a class="brand" href="/">@Model.Title</a> <small class="text-muted d-none d-sm-block" style="font-size:small;font-style:italic">@Model.Tagline</small>
    </h5>
    <menu id="Menu1" />
</div>