@model IEnumerable<Tag>

<ul class="widget-tags">
    @foreach (var t in Model)
    {
        <li>
            <a class="tag" rel="tag" title="@t.Description" href="@t.RelativeLink" style="background-color:@t.Color;">@t.Title</a>
            <span class="tag-multiplier">× @t.Count</span>
        </li>
    }
</ul>