$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$color-primary: #39f;

// https://github.com/twbs/bootstrap/blob/1870b871d0b6ad7c842aab780dbd5541d84f3428/scss/_variables.scss#L239
$h1-font-size: $font-size-base * 1.7 !default;
$h2-font-size: $font-size-base * 1.42 !default;
$h3-font-size: $font-size-base * 1.17 !default;
