.container {
    @media screen and (max-width: 64rem) {
        width: 100%;
        max-width: 100%;
        padding-right: 5px;
        padding-left: 5px;
    }
}

.blog-main {
    margin-top: 1rem;

    article {
        background: #fff;
        /* controls how wide your article is */
        padding: 2rem 1rem 1rem 1rem;
        width: 100%;
        /*so we could have a img aligned to side*/
        position: relative;
        overflow: hidden;
        clear: both;

        header {
            margin-bottom: 0.8rem;

            h1 {
                line-height: 1;
                font-size: 2.2rem;
                margin: 0 0 0.5rem;
                font-weight: 700;

                a {
                    text-decoration: none;
                    color: $color-primary;

                    &:hover {
                        color: #111
                    }
                }
            }

            @media (max-width: 767px) {
                h1 {
                    font-size: 2.25rem;
                }
            }
        }

        .post-body {
            h1, h2, h3, h4, h5, h6 {
                margin-bottom: .5rem;
            }

            ul li p {
                margin-bottom: 5px;
            }

            ul {
                padding-left: 1.5em;
            }
        }

        .post-info {
            font-size: 0.75rem;
            color: #666;
            text-transform: uppercase;
            padding: 10px 0 8px 0;

            span {
                margin-right: 0.5rem
            }

            a {
                color: #666
            }

            .post-info-item,
            #social-list {
                padding: 0 5px;
            }

            #social-list {
                a {
                    color: #666;
                    font-size: larger;
                    font-weight: bolder;
                }

                > a {
                    padding: 0 3px;
                }

                .twtr-share {
                    color: #00acee;
                }

                .fb-share {
                    color: #3b5998;
                }

                .goog-share {
                    color: #e93f2e;
                }

                .lnkd-share {
                    color: #0e76a8;
                }
            }
        }
        // table
        table {
            border-collapse: collapse;
            border-spacing: 0;
            display: block;
            overflow: auto;
            width: 100%;

            td, th {
                border: 1px solid #dfe2e5;
                padding: 6px 13px;
            }

            th {
                font-weight: 600;
            }

            tr {
                background-color: #fff;
                border-top: 1px solid #c6cbd1;
            }

            tr:nth-child(2n) {
                background-color: #f6f8fa;
            }
        }

        .read-more {
            padding-top: 5px
        }
    }

    .category-title, .tag-title {
        font-weight: bold;
        padding: 2rem 3rem 0 1rem;
    }
    // https://docs.ckeditor.com/ckeditor5/latest/features/image.html#image-styles
    .image-style-align-left {
        float: left;
        margin-right: 0.5em;
    }

    .image-style-align-right {
        float: right;
        margin-left: 0.5em;
    }

    .image-style-align-left, .image-style-align-right {
        max-width: 50%;
    }

    figure.image {
        /* makes image centered, without it's align left, it does not affect float left or right image;
           this will also help match the editor behavior
        */
        text-align: center;
    }

    figure.image img {
        border: 1px solid #ccc;
        padding: 3px;
    }
}
