@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?4dgu0n');
    src: url('fonts/icomoon.eot?4dgu0n#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?4dgu0n') format('truetype'), url('fonts/icomoon.woff?4dgu0n') format('woff'), url('fonts/icomoon.svg?4dgu0n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
    content: "\f004";
}

.icon-user:before {
    content: "\f007";
}

.icon-power-off:before {
    content: "\f011";
}

.icon-home:before {
    content: "\f015";
}

.icon-tag:before {
    content: "\f02b";
}

.icon-tags:before {
    content: "\f02c";
}

.icon-pencil:before {
    content: "\f040";
}

.icon-edit:before {
    content: "\f044";
}

.icon-pencil-square-o:before {
    content: "\f044";
}

.icon-eye:before {
    content: "\f06e";
}

.icon-calendar:before {
    content: "\f073";
}

.icon-comment:before {
    content: "\f075";
}

.icon-folder:before {
    content: "\f07b";
}

.icon-heart-o:before {
    content: "\f08a";
}

.icon-sign-in:before {
    content: "\f090";
}

.icon-twitter:before {
    content: "\f099";
}

.icon-facebook:before {
    content: "\f09a";
}

.icon-facebook-f:before {
    content: "\f09a";
}

.icon-github:before {
    content: "\f09b";
}

.icon-feed:before {
    content: "\f09e";
}

.icon-rss:before {
    content: "\f09e";
}

.icon-google-plus:before {
    content: "\f0d5";
}

.icon-linkedin:before {
    content: "\f0e1";
}

.icon-github-alt:before {
    content: "\f113";
}

.icon-youtube-play:before {
    content: "\f16a";
}

.icon-stack-overflow:before {
    content: "\f16c";
}

.icon-instagram:before {
    content: "\f16d";
}

.icon-share-alt:before {
    content: "\f1e0";
}