html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
// h1 by default is 2.5rem
h1 {
    font-size: $h1-font-size;
}
// show a smaller heading on smaller screen
@media (max-width: 767px) {
    h1 {
        font-size: 1 + (($h1-font-size - 1) * $headings-font-size-xs); // 1.75rem
    }

    h2 {
        font-size: 1 + (($h2-font-size - 1) * $headings-font-size-xs); // 1.5rem
    }

    h3 {
        font-size: 1 + (($h3-font-size - 1) * $headings-font-size-xs); // 1.5rem
    }

    h4 {
        font-size: 1 + (($h4-font-size - 1) * $headings-font-size-xs); // 1.5rem
    }

    h5 {
        font-size: 1 + (($h5-font-size - 1) * $headings-font-size-xs); // 1.5rem
    }

    h6 {
        font-size: 1 + (($h6-font-size - 1) * $headings-font-size-xs); // 1.5rem
    }
}
p {
    /* default is too small, interestingly 1.1 here looks identical to 1.13 shown in editor 
    */
    font-size: 1.1rem;
    /* inline code */
    code {
        background: rgba(202,205,207,0.3);
        padding: .2em .6em;
        border-radius: 3px;
        color: inherit;
        font-size: smaller;
    }
}
img {
    /* scale image to fit page https://www.w3schools.com/css/css_rwd_images.asp */
    max-width: 100%;
    height: auto;
}
ul {
    list-style-type: square;
    padding-left: 1em; /* default indents list */
}
ol {
    padding-left: 1em;
}
pre {
    border: 1px dashed #e0e0e0;
    border-radius: 0;
    padding: 5px;
}
blockquote {
    margin: 0 0 1rem;
    border-left: 2px gray solid;
    padding: 13px;
    background: #eee;
    font-style:italic;

    p {
        margin-bottom: 0;
    }
}
/* image caption */
figcaption {
    font-size: smaller;
    text-align: center;
}

/* the shadow under the topbar */
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
/* the brand link */
a.brand {
    text-decoration: none;
}
/* sticky footer, needs html position and min-height */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    text-align: center;
    /*> .container {
        padding-right: 15px;
        padding-left: 15px;
    }*/
}
.footer span:last-child {
    margin-left: 10px;

    @media (max-width: 767px) {
        display: none;
    }
}

/* avatar on navbar */
.avatar {
    vertical-align: middle;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}