.widgets {
    padding-top: 5rem;
}

.widget {
    font-size: .875rem;
    padding-bottom: 2rem;

    a {
        border-bottom: 1px dotted rgba(255, 255, 255, 0.6);

        &:hover {
            border-color: #fff;
            text-decoration: none;
        }
    }

    .widget-header {
        margin: 0;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: .0625rem;
        font-size: 1rem;
        padding: 0 1.5rem;
    }

    .widget-content {
        background: rgba(255, 255, 255, 0.1);
        padding: 1rem 1.5rem;
        font-size: .875rem;
        color: rgba(255, 255, 255, 0.6);

        .social-icons {
            .svg-icon {
                text-decoration: none;
                padding-right: 5px;
                height: 28px; // size of the icon
                width: 28px;
                filter: invert(.5);
            }

            .svg-icon:hover {
                cursor: pointer;
                filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        > li {
            margin-bottom: .5rem;

            a {
                border-bottom: none;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        ul li {
            border: none;
        }
    }

    @media screen and (max-width: 64rem) {
        margin-bottom: 1rem;
    }
}

.widget-categories {
    
}

.widget-tags {
    .tag {
        padding: 3px 12px 5px 12px;
        text-decoration: none;
        line-height: 2;
        white-space: nowrap;
        color: white;
    }

    .tag-multiplier {
        color: #666;
        margin-right: 4px;
        font-size: 12px;
    }
}

// BlogArchives Widget
.blog-archives {
    li {
        font-weight: normal;
    }

    .archive-node {
        cursor: pointer;
        color: #555;
        font-weight: bold;

        li {
            margin: 0 1rem;
            padding: 0;
            font-weight: bold;
        }
    }
    // hide months under year that is not on the very top
    .archive-year-node:not(:first-child) .archive-months {
        display: none
    }

    ul ul {
        display: none;
    }
}

